<!-- Main -->
<article id="main">
  <header>
    <h2>Accommodation</h2>
    <p>We recommend guests stay in or near Serre di Rapolano.</p>
  </header>
  <section class="wrapper style5">
    <div class="inner">

      <h3>The Castello delle Serre</h3>
      <p>The venue for the wedding reception, the <a href="https://castellodelleserre.com/" target="_blank">Castello dello Serre</a> provides fantastic, luxury accommodation with stunning views across the Tuscan hills.</p>
      <p>There are 20 double rooms in the Castello, many of which have the facility for extra single or double beds to be added.  We can offer these for £100 per night to any guests staying both Friday and Saturday nights, and an extra £30 per night for additional guests in the larger rooms.</p>
      <p>As well as superb rooms and a fabulous breakfast service, the roof-top pool will provide the ideal way to kill time before leaving for the wedding at 3pm, all with the convenience of having a short stagger back to your room once it's all over.  Please use the RSVP form to let us know if you're interested.</p>

      <div class="box alt">
        <div class="row uniform 50%">
          <div class="12u"><span class="image fit"><img src="images/castello/castello_large.jpg" alt="" /></span></div>
          <div class="4u large-up"><span class="image fit standard double" style="background-image: url('images/castello/castello13.jpg');" alt="" /></span></div>
          <div class="4u 6u(medium) 12u$(small)">
            <span class="image fit standard" style="background-image: url('images/castello/castello3.jpg');" alt="" /></span>
            <span class="image fit standard" style="background-image: url('images/castello/castello18.jpg');" alt="" /></span>
          </div>
          <div class="4u 6u(medium) 12u$(small)">
            <span class="image fit standard" style="background-image: url('images/castello/castello24.jpg');" alt="" /></span>
            <span class="image fit standard" style="background-image: url('images/castello/castello29.jpg');" alt="" /></span>
          </div>
        </div>
      </div>

      <p>If you're still not convinced, have a look at <a href="https://www.tripadvisor.co.uk/Hotel_Review-g1095749-d613184-Reviews-Castello_delle_Serre-Serre_di_Rapolano_Rapolano_Terme_Tuscany.html" target="_blank">Tripadvisor</a>.

    </div>
  </section>

  <!-- Three -->
  <section id="three" class="wrapper style3 special">
    <div class="inner">
      <header class="major">
        <h3>Alternatives</h3>
        <p>There are several other B&amp;Bs available in the local area which are within easy reach of the Castello.</p>
      </header>
      <ul class="features">
        <li class="icon fa-bed">
          <h3><a href="https://www.tripadvisor.co.uk/Hotel_Review-g1095749-d3476452-Reviews-Palazzo_Bizzarri-Serre_di_Rapolano_Rapolano_Terme_Tuscany.html" target="_blank">Palazzo Bizzarri</a></h3>
          <ul>
            <li>Very close to the venue</li>
            <li>Ridiculous name</li>
          </ul>
        </li>
        <li class="icon fa-bed">
          <h3><a href="https://www.tripadvisor.co.uk/Hotel_Review-g1095749-d6577730-Reviews-Antico_Granaione_B_B_Residenza_d_Epoca-Serre_di_Rapolano_Rapolano_Terme_Tuscany.html" target="_blank">Antico Granaione B&amp;B Residenza d'Epoca</a></h3>
          <ul>
            <li>Well reviewed</li>
            <li>Within Serre di Rapolano</li>
          </ul>
        </li>
        <li class="icon fa-bed">
          <h3><a href="https://www.tripadvisor.co.uk/Hotel_Review-g1095749-d4091823-Reviews-Agriturismo_Relais_Borghetto_il_Montino-Serre_di_Rapolano_Rapolano_Terme_Tuscany.html" target="_blank">Agriturismo Relais Borghetto il Montino</a></h3>
          <ul>
            <li>Has a pool!</li>
            <li>A 10 minute walk from Serre di Rapolano</li>
          </ul>
        </li>
        <li class="icon fa-bed">
          <h3><a href="https://www.tripadvisor.co.uk/Hotel_Review-g1095749-d2275025-Reviews-Agriturismo_San_Lorenzo-Serre_di_Rapolano_Rapolano_Terme_Tuscany.html" target="_blank">Agriturismo San Lorenzo</a></h3>
          <ul>
            <li>Peaceful location</li>
            <li>A 15 minute walk from Serre di Rapolano</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</article>
