<!-- Main -->
<article id="main">
  <header>
    <h2>Accommodation</h2>
    <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
  </header>
  <section class="wrapper style5">
    <div class="inner">

      <h3>The Castello delle Serre</h3>
      <p>The venue for the wedding reception, the <a href="https://castellodelleserre.com/" target="_blank">Castello dello Serre</a> provides fantastic, luxury accommodation with stunning views across the Tuscan hills.</p>
      <p>There are 20 double rooms in the Castello, many of which have the facility for extra single or double beds to be added.  We can offer these for £100 per night to any guests staying both Friday and Saturday nights, and an extra £30 per night for additional guests in the larger rooms.</p>
      <p>As well as luxury rooms and a fabulous breakfast service, the roof-top pool will provide the ideal way to kill time before leaving for the wedding at 3pm, all with the convenience of having a short stagger back to your room once it's all over.</p>

      <div class="box alt">
        <div class="row uniform 50%">
          <div class="12u"><span class="image fit"><img src="images/castello/castello_large.jpg" alt="" /></span></div>
          <div class="4u large-up"><span class="image fit standard double" style="background-image: url('images/castello/castello13.jpg');" alt="" /></span></div>
          <div class="4u 6u(medium) 12u$(small)">
            <span class="image fit standard" style="background-image: url('images/castello/castello3.jpg');" alt="" /></span>
            <span class="image fit standard" style="background-image: url('images/castello/castello18.jpg');" alt="" /></span>
          </div>
          <div class="4u 6u(medium) 12u$(small)">
            <span class="image fit standard" style="background-image: url('images/castello/castello24.jpg');" alt="" /></span>
            <span class="image fit standard" style="background-image: url('images/castello/castello29.jpg');" alt="" /></span>
          </div>
        </div>
      </div>

      <p>If you're still not convinced, have a look at <a href="https://www.tripadvisor.co.uk/Hotel_Review-g1095749-d613184-Reviews-Castello_delle_Serre-Serre_di_Rapolano_Rapolano_Terme_Tuscany.html" target="_blank">Tripadvisor</a>.

      <p>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec dui cursus, posuere dui eget interdum. Fusce lectus magna, sagittis at facilisis vitae, pellentesque at etiam. Quisque posuere leo quis sem commodo, vel scelerisque nisi scelerisque. Suspendisse id quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius.</p>

      <hr />

      <h4>Feugiat aliquam</h4>
      <p>Nam sapien ante, varius in pulvinar vitae, rhoncus id massa. Donec varius ex in mauris ornare, eget euismod urna egestas. Etiam lacinia tempor ipsum, sodales porttitor justo. Aliquam dolor quam, semper in tortor eu, volutpat efficitur quam. Fusce nec fermentum nisl. Aenean erat diam, tempus aliquet erat.</p>

      <p>Etiam iaculis nulla ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit, eget condimentum nunc blandit vel. In at pulvinar lectus. Morbi diam ante, vulputate et imperdiet eget, fermentum non dolor. Ut eleifend sagittis tincidunt. Sed viverra commodo mi, ac rhoncus justo. Duis neque ligula, elementum ut enim vel, posuere finibus justo. Vivamus facilisis maximus nibh quis pulvinar. Quisque hendrerit in ipsum id tellus facilisis fermentum. Proin mauris dui, at vestibulum sit amet, auctor bibendum neque.</p>

    </div>
  </section>

  <!-- Three -->
  <section id="three" class="wrapper style3 special">
    <div class="inner">
      <header class="major">
        <h2>Location</h2>
        <p>We will be married in the town hall at Monte San Savino, Arezzo at 4pm on Saturday, September 10th 2016.<br />
        This will be followed by a reception at the Castello de Rapolano in the town of Serre di Rapolano, Siena.</p>
      </header>
      <ul class="features">
        <li class="icon fa-paper-plane-o">
          <h3>Arcu accumsan</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-laptop">
          <h3>Ac Augue Eget</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-code">
          <h3>Mus Scelerisque</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-headphones">
          <h3>Mauris Imperdiet</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-heart-o">
          <h3>Aenean Primis</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-flag-o">
          <h3>Tortor Ut</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
      </ul>
    </div>
  </section>
</article>
