<!-- Main -->
<article id="main">
  <header>
    <h2>Wedding Presents</h2>
    <p>Don't worry, there isn't a list, so you won't have to buy us a loo-roll holder.</p>
  </header>
  <section class="wrapper style1">
    <div class="inner">

      <h3>Your presence = our presents</h3>
      <p>We're asking you to travel a long way to attend our wedding, so please don't worry about buying us a gift.  The charities below mean a great deal to us and many of our guests, so if you'd like to do something to mark the occasion, a donation to one of them would be perfect.</p>

      <a href="http://www.royalmarsden.org" class="spotlight">
        <div class="image"><img src="/images/charity/marsden.png" alt="" /></div><div class="content">
          <h2>The Royal Marsden Cancer Charity</h2>
          <p>The Royal Marsden is a world-leading cancer centre which pioneers new treatments that save lives. They use their research every day to provide the very best in diagnosis, treatment and care for their patients.</p>
        </div>
      </a>
      <a href="http://www.trekstock.com" class="spotlight">
        <div class="image"><img src="/images/charity/trekstock.png" alt="" /></div><div class="content">
          <h2>Trekstock</h2>
          <p>Trekstock work tirelessly to ensure that no young adult has to face cancer alone.  They provide information and practical advice on the topics that young adults who have experienced cancer have identified as being important to them.</p>
        </div>
      </a>
      <a href="http://www.tommys.org" class="spotlight">
        <div class="image"><img src="/images/charity/tommys.png" alt="" /></div>
        <div class="content">
          <h2>Tommy's</h2>
          <p>Tommy's funds research into pregnancy problems and provides information to parents. They believe it is unacceptable that one in four women lose a baby during pregnancy and birth.</p>
        </div>
      </a>

      <hr />

      <h3>If you do feel the need</h3>
      Of course, we cannot stop you bestowing vast tracts of land, priceless jewellery or enormous sums of money on us if you absolutely must.  However, please bear in mind that we will be unable to take explosive and incendiary materials, oxidizers and organic peroxides, or poisons on the plane home, even in hold luggage, so those may not represent ideal gifts.

    </div>
  </section>
</article>
