<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>Lizzy and Richard</h2>
    <p>10th September 2016<br />
    Tuscany<br />
    Italy</p>
    <ul class="actions">
      <li><a href="#cta" class="button special">RSVP</a></li>
    </ul>
  </div>
  <a href="#one" class="more scrolly">More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style2 special">
  <div class="inner">
    <header class="major">
      <h2>"You may have the universe if I may have Italy"<br>Giuseppe Verdi</h2>
      <p>We're asking you to travel a long way for our big day, but don't worry - it will be worth it.<br>
      You should find all the information you need on this site.  If not, please let us know!</p>
    </header>
    <ul class="icons major">
      <li><span class="icon fa-glass major style1"><span class="label">Lorem</span></span></li>
      <li><span class="icon fa-heart-o major style1"><span class="label">Ipsum</span></span></li>
      <li><span class="icon fa-music major style1"><span class="label">Dolor</span></span></li>
    </ul>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style1">
  <a href="/locations" class="spotlight">
    <div class="image"><img src="images/montesansavino.jpg" alt="" /></div><div class="content">
      <h2>Locations</h2>
      <p>We will be married in the town hall at Monte San Savino, Arezzo at 4pm on Saturday, September 10th 2016.</p>
      <p>This will be followed by a reception at the Castello de Rapolano in the town of Serre di Rapolano, Siena.</p>
    </div>
  </a>
  <a href="/transport" class="spotlight">
    <div class="image"><img src="images/aeroplane.jpg" alt="" /></div><div class="content">
      <h2>Transport</h2>
      <p>There are a large number of options for travelling to the celebration.</p>
      <p>We recommend flying to Perugia, Florence or Pisa and hiring a car there, but Bologna and Rome airports are also easily accessible.</p>
    </div>
  </a>
  <a href="/accommodation" class="spotlight">
    <div class="image"><img src="images/castello-external.jpg" alt="" /></div><div class="content">
      <h2>Accommodation</h2>
      <p>The venue for the reception, the Castello di Rapolano, provides wonderful accommodation, with space for many of our guests if they are staying both Friday and Saturday nights.</p>
      <p>Alternatively, there are several alternative B&amp;Bs in the same town of Serre di Rapolano.</p>
    </div>
  </a>
  <a href="/gifts" class="spotlight">
    <div class="image"><img src="images/cheers.jpg" alt="" /></div><div class="content">
      <h2>Wedding Presents</h2>
      <p>To coin a clich&eacute;, your presence is enough of a present, but there are several charities to which we would love you to donate if you'd like to do something to mark the occasion.
      Nevertheless, if you are desperate to buy us an extravagant series of priceless gifts, we will grudgingly accept them.</p>
    </div>
  </a>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
  <div class="inner">
    <header>
      <h2>RSVP</h2>
      <p>Please let us know whether you'll be able to share our big day.</p>
    </header>
  </div>
  <div class="inner">
    <form method="post" action="#">
      <div class="row uniform">
        <div class="6u 12u$(xsmall)">
          <input type="text" name="name" id="name" value="" placeholder="Name" />
        </div>
        <div class="6u$ 12u$(xsmall)">
          <input type="email" name="email" id="email" value="" placeholder="Email" />
        </div>
        <div class="6u 12u$(small)">
          <input type="radio" id="can-attend" name="attendance" checked>
          <label for="can-attend">Yes, I/we will be there.</label>
        </div>
        <div class="6u 12u$(small)">
          <input type="radio" id="cannot-attend" name="attendance">
          <label for="cannot-attend">Unfortunately, I/we cannot attend.</label>
        </div>
        <div class="12u$">
          <input type="checkbox" id="castello-accommodation" name="castello-accommodation">
          <label for="castello-accommodation">I/we will be staying on Friday and Saturday and are interested in staying at the Castello.</label>
        </div>
        <div class="12u$">
          <textarea name="message" id="message" placeholder="Leave us a message" rows="6"></textarea>
        </div>
        <div class="12u$">
          <ul class="actions">
            <li><input type="submit" value="RSVP" class="special" /></li>
            <li><input type="reset" value="Reset" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>
