<!-- Main -->
<article id="main">
  <header>
    <h2>Locations</h2>
    <p>Spoiler: they're all in Italy</p>
  </header>
  <section class="wrapper style6">
    <div class="inner">

      <h3>Tuscany and surrounding airports</h3>
      <div id="tuscany-map"></div>

    </div>

    <hr>

    <div class="inner">

      <h3>Serre di Rapolano and Monte San Savino</h3>
      <div id="serre-map"></div>

    </div>
  </section>
</article>

<link rel="stylesheet" href="assets/css/locations.css" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
