<article id="main">
  <header>
    <h2>The day after</h2>
    <p>We'd love you to join us for lunch if you're available.</p>
  </header>
  <section class="wrapper style6">
    <div class="inner">
      <h4>Yes, more eating</h4>
      <p>
        After the restraint and abstinence of Saturday, we thought it might be necessary to arrange an opportunity to refuel the day after the wedding.  It would be lovely if you could join us for an informal lunch at a (yet to be determined) local trattoria.
      </p>
      <div class="box alt">
        <div class="row uniform 50%">
          <div class="12u"><span class="image fit"><img src="images/pizza.jpg" alt="" /></span></div>
        </div>
      </div>
      <p>
        At present, we're light on the details, but it's conceivable that the sort of pizza and oven combination depicted above will be available (exact toppings tbd).
      </p>
      <p>
        Wherever we choose, it will be close to Serre di Rapolano, so it should be convenient for anybody travelling back to the airport on Sunday afternoon/evening.  Please use the RSVP form to let us know if you might be available, and bear in mind that this isn't a commitment.
      </p>
      <p>
        Thanks!
      </p>
    </div>

    </div>
  </section>
</article>
