<article id="main">
  <header>
    <h2>Order of the day</h2>
    <p>You can definitely set your watch by these timings.</p>
  </header>
  <section class="wrapper style4 special">
    <div class="narrow inner">
      <header class="major">
        <h4>Saturday 10th September 2016</h4>
      </header>
      <div class="text-left">
        <p><strong>3.00pm</strong> - Guests leave the Castello delle Serre for buses to Monte San Savino.</p>
        <p><strong>4.00pm</strong> - Wedding ceremony in the central courtyard of the Town Hall.</p>
        <p><strong>4.30pm</strong> - Prosecco and photographs.</p>
        <p><strong>5.30pm</strong> - Buses return to the Castello.</p>
        <p><strong>6.00pm</strong> - Aperitivo by the pool.</p>
        <p><strong>7.30pm</strong> - Dinner and speeches.</p>
        <p><strong>9.30pm</strong> - Cake and toasts.</p>
        <p><strong>10.00pm</strong> - Party!</p>
      </div>
    </div>
  </section>
</article>
