<!-- Main -->
<article id="main">
  <header>
    <h2>Transport</h2>
    <p>Getting to and from Tuscany</p>
  </header>
  <section class="wrapper style5">
    <div class="inner">

      <h3><i class="icon fa-paper-plane-o"></i> Air travel</h3>
      <p>Whilst the closest city to Serre di Rapolano, Siena, has no international airport, it is within easy reach of a variety of other cities which are served by international flights.</p>

      <h5>Travel from the south of England</h5>
      <p>The south is well-served with flights to Tuscany and surrounding cities.</p>

      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Airport</th>
              <th>Distance from venue</th>
              <th>Flights</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Perugia</td>
              <td>1h</td>
              <td>Ryanair - one flight to and from STN (Mon, Wed, Fri, Sun)</td>
              <td><a href="https://www.ryanair.com" target="_blank">Ryanair</a></td>
            </tr>
            <tr>
              <td>Florence</td>
              <td>1h15m</td>
              <td>Vueling - one flight daily to and from LGW<br>
              CityJet - one flight daily to and from LCY
              </td>
              <td><a href="http://www.vueling.com/en" target="_blank">Vueling</a><br>
                <a href="https://www.cityjet.com/" target="_blank">CityJet</a>
              </td>
            </tr>
            <tr>
              <td>Pisa</td>
              <td>2h</td>
              <td>Ryanair - two flights daily to and from STN<br>
                Easyjet - two flights daily to and from LGW<br>
                <em>Both options have convenient flight times</em>
              </td>
              <td>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a><br>
                <a href="http://www.easyjet.com/en/" target="_blank">Easyjet</a>
              </td>
            </tr>
            <tr>
              <td>Bologna</td>
              <td>2h15m</td>
              <td>
                Ryanair - two flights daily to and from STN<br>
                Easyjet - one flight daily to and from LGW<br>
                BA - three filghts daily to and from LHR<br>
                <em>Conventient flight times from STN and LHR</em><br>
              </td>
              <td>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a><br>
                <a href="http://www.easyjet.com/en/" target="_blank">Easyjet</a><br>
                <a href="http://www.britishairways.com/travel/home/public/en_gb" target="_blank">BA</a></td>
            </tr>
            <tr>
              <td>Rome</td>
              <td>2h15m</td>
              <td>Norwegian, Ryanair, Easyjet, Monarch, Vueling,<br>
                BA and Alitalia fly from London to Rome's two airports
              </td>
              <td><a href="http://www.skyscanner.net/transport/flights/lond/rome">Skyscanner</a> is the best place to check</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h5>Travel from the north of England</h5>
      <p>Inexplicably, there appears to be some sort of travel embargo on people travelling from the north of England to Tuscany.  The flights below are the best options for travelling to the wedding, but you could also consider flying from Stansted, which is easily accessible from the A1 and East Coast mainline.</p>

      <h5>Travel from further afield</h5>
      <p>If you're travelling from somewhere outside the UK directly to Italy, Rome will be best served with international flights, and is less than three hours from the venue by road or rail.</p>

      <hr />

      <h3><i class="icon fa-car"></i> Onward from the airport</h3>
      <p>The easiest option to reach Serre di Rapolano would be to hire a car at the airport you're flying into, or else to share with other guests who are doing so.  Due to its rural location, there is no station in the town itself.</p>
      <p>Alternatively, regular trains run from Rome (3h) and Pisa (2h30m) to Rapolano Terme, which is only a ten minute drive from Serre di Rapolano, and from which you could reach the venue by taxi or a lift from a friendly guest.</p>
      <p>Train information and bookings can be found at <a href="http://www.trenitalia.com/tcom-en" target="_blank">Trenitalia</a>.

    </div>
  </section>
</article>

<!-- Three -->
<section id="three" class="wrapper style3 special">
  <div class="inner">
    <header class="major">
      <h2>Location</h2>
      <p>We will be married in the town hall at Monte San Savino, Arezzo at 4pm on Saturday, September 10th 2016.<br />
      This will be followed by a reception at the Castello de Rapolano in the town of Serre di Rapolano, Siena.</p>
    </header>
    <ul class="features">
      <li class="icon fa-paper-plane-o">
        <h3>Arcu accumsan</h3>
        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
      </li>
      <li class="icon fa-laptop">
        <h3>Ac Augue Eget</h3>
        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
      </li>
      <li class="icon fa-code">
        <h3>Mus Scelerisque</h3>
        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
      </li>
      <li class="icon fa-headphones">
        <h3>Mauris Imperdiet</h3>
        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
      </li>
      <li class="icon fa-heart-o">
        <h3>Aenean Primis</h3>
        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
      </li>
      <li class="icon fa-flag-o">
        <h3>Tortor Ut</h3>
        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
      </li>
    </ul>
  </div>
</section>
