<!-- Main -->
<article id="main">
  <header>
    <h2>Transport</h2>
    <p>Getting to and from Tuscany</p>
  </header>
  <section class="wrapper style5">
    <div class="inner">

      <h3><i class="icon fa-paper-plane-o"></i> Air travel</h3>
      <p>Whilst the closest city to Serre di Rapolano, Siena, has no international airport, it is within easy reach of a variety of other cities which are served by international flights.</p>

      <h5>Travel from the south-east of England</h5>

      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Airport</th>
              <th>Distance from venue</th>
              <th>Flights</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Perugia</td>
              <td>1h</td>
              <td>Ryanair - one flight daily (ex. Sat) to and from STN</td>
              <td><a href="https://www.ryanair.com" target="_blank">Ryanair</a></td>
            </tr>
            <tr>
              <td>Florence</td>
              <td>1h15m</td>
              <td>Vueling - one flight daily to and from LGW<br>
              CityJet - one flight daily to and from LCY
              </td>
              <td><a href="http://www.vueling.com/en" target="_blank">Vueling</a><br>
                <a href="https://www.cityjet.com/" target="_blank">CityJet</a>
              </td>
            </tr>
            <tr>
              <td>Pisa</td>
              <td>2h</td>
              <td>Ryanair - two flights daily to and from STN<br>
                Easyjet - two flights daily to and from LGW<br>
                Easyjet - one flight daily to and from LTN<br>
                <em>Convenient flight times from STN and LGW</em>
              </td>
              <td>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a><br>
                <a href="http://www.easyjet.com/en/" target="_blank">Easyjet</a><br>
                <a href="http://www.easyjet.com/en/" target="_blank">Easyjet</a>
              </td>
            </tr>
            <tr>
              <td>Bologna</td>
              <td>2h15m</td>
              <td>
                Ryanair - two flights daily to and from STN<br>
                Easyjet - one flight daily to and from LGW<br>
                BA - three filghts daily to and from LHR<br>
                <em>Conventient flight times from STN and LHR</em><br>
              </td>
              <td>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a><br>
                <a href="http://www.easyjet.com/en/" target="_blank">Easyjet</a><br>
                <a href="http://www.britishairways.com/travel/home/public/en_gb" target="_blank">BA</a></td>
            </tr>
            <tr>
              <td>Rome</td>
              <td>2h15m</td>
              <td>Norwegian, Ryanair, Easyjet, Monarch, Vueling,<br>
                BA and Alitalia fly from London to Rome's two airports
              </td>
              <td><a href="http://www.skyscanner.net/transport/flights/lond/rome" target="_blank">Skyscanner</a> is the best place to check</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h5>Travel from elsewhere in the UK</h5>
      <p>The south-east seems to have done a good job of keeping Tuscany for itself.  The flights below are the best options for travelling to the wedding, but you could also consider flying from Stansted, Luton or Heathrow, which are easily accessible from the north and west.</p>

      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Airport</th>
              <th>Flights</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bristol</td>
              <td>
                One flight on Fri, Sat and Sun to/from Pisa<br>
                One flight on Wed and Sun to/from Bologna
              </td>
              <td>
                <a href="http://www.easyjet.com/en/" target="_blank">Easyjet</a><br>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a>
              </td>
            </tr>
            <tr>
              <td>Manchester</td>
              <td>
                One flight daily, Thu-Mon to/from Pisa<br>
                One flight on Wed and Sun to/from Pisa<br>
                One flight daily (two on Sunday) to/from Rome
              </td>
              <td>
                <a href="http://www.jet2.com/" target="_blank">Jet2</a><br>
                <a href="http://www.easyjet.com/en/" target="_blank">Easyjet</a><br>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a>
              </td>
            </tr>
            <tr>
              <td>Leeds Bradford</td>
              <td>
                One flight Thu and Mon to/from Rome<br>
                One flight on Saturdays to/from Pisa
              </td>
              <td>
                <a href="http://www.jet2.com/" target="_blank">Jet2</a><br>
              <a href="http://www.jet2.com/" target="_blank">Jet2</a>
              </td>
            </tr>
            <tr>
              <td>Liverpool</td>
              <td>
                One flight on Fri and Mon to/from Pisa
              </td>
              <td>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a>
              </td>
            </tr>
            <tr>
              <td>East Midlands</td>
              <td>
                One flight on Wed and Sun to/from Pisa<br>
                One flight Tue, Thu and Sun to/from Rome<br>
                One flight on Saturdays to/from Pisa
              </td>
              <td>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a><br>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a>
                <a href="http://www.jet2.com/" target="_blank">Jet2</a><br>
              </td>
            </tr>
            <tr>
              <td>Edinburgh</td>
              <td>
                One flight Tue, Thu and Sat to/from Pisa<br>
                One flight Fri and Mon to/from Bologna<br>
                One flight Mon, Wed, Fri, Sun to/from Rome
              </td>
              <td>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a><br>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a><br>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a>
              </td>
            </tr>
            <tr>
              <td>Glasgow (International)</td>
              <td>
                One flight Thu and Sun to/from Rome<br>
              </td>
              <td>
                <a href="http://www.jet2.com/" target="_blank">Jet2</a><br>
              </td>
            </tr>
            <tr>
              <td>Glasgow (Prestwick)</td>
              <td>
                One flight Wed and Sun to/from Pisa<br>
              </td>
              <td>
                <a href="https://www.ryanair.com" target="_blank">Ryanair</a>
              </td>
            </tr>
          </tbody>
        </table>

        <p>
          In addition, there are lots of possibilities for travel via connecting flights, too numerous to list here.  The flight finder at <a href="http://www.skyscanner.net/" target="_blank">Skyscanner</a> is the best place to look for them.
        </p>
      </div>

      <h5>Travel from further afield</h5>
      <p>If you're travelling from somewhere outside the UK directly to Italy, Rome will be best served by international flights, and is less than three hours from the venue by road or rail.</p>

      <hr />

      <h3><i class="icon fa-car"></i> Onward from the airport</h3>
      <p>The easiest option to reach Serre di Rapolano would be to hire a car at the airport you're flying into, or else to share with other guests who are doing so.  Due to its rural location, there is no station in the town itself.</p>
      <p>Alternatively, regular trains run from Rome (3h) and Pisa (2h30m) to Rapolano Terme, which is only a ten minute drive from Serre di Rapolano, and from which you could reach the venue by taxi or a lift from a friendly guest.  If you're choosing this option, flying to Pisa will be easiest as it's only a five minute taxi ride from the airport to the railway station.</p>
      <p>Train information and bookings can be found at <a href="http://www.trenitalia.com/tcom-en" target="_blank">Trenitalia</a>.

    </div>
  </section>
</article>
